<h1>Stupid Coach</h1>

<h2>Ask your coach anything</h2>
<form action="/answer" method="get">
  <input type="text"
         name="question"
         value = "<%= params[:member] %>">
  <input type="submit" value="Ask">
</form>
